#courseName{
  text-align: center;
}

#container{
  align-content: center;
}

.a href{
  color: black;
}

.white-box{
  background-color: rgba(255,255,255,.7);
  width: 90%;
  height: auto;
  top: 15%;
  margin-left: 5%;
  padding: 30px;
  position: absolute;
}

#contactPic{
  margin-right: 10px;
  float: left;
}

#viewButton{
  float: right;
}

#addTutorRequest{
  margin-top: 10px;
}

#message{
  font-size: 14px;
}

#viewRequest{
  visibility: hidden;
}