body{
  font-family:'Raleway', sans-serif !important;
}

#navigation{
  background-color: rgba(174, 174, 174, 0.5); 
}

#icon{
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
}

#settings_icon{
  width: 40px;
  height: 40px;
}

#setting_button{
  margin-left: 90%;
  position: absolute;
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
}

.img-valign {
  vertical-align: middle;
  width: 300px;
  height: 300px;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

.info{
  vertical-align: bottom;
  float: left;
  margin-left: 0;
  margin-right: 0;
}


