.img-valign {
  vertical-align: middle;
  width: 120px;
  height: 120px;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

.info{
  vertical-align: bottom;
  float: left;
  margin-left: 20px;
  margin-right: 0;
}

#name {
  left: 100px;
  font-size: 30px;
  font-style: bold;
  margin: 0;
}

#major {
  left: 100px;
  font-size: 20px;
  font-style: bold;
  margin: 0;
}

#bio{
  width: 50%;
  margin: 0;
}

.container{
  width: 50%;
}

#content {
  background-color: rgba(255,255,255,.7);
  width: 90%;
  height: 80%;
  top: 15%;
  margin-left: 5%;
  padding: 30px;
  position: absolute;
}